// Base

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

body {
  padding: 0;  
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  font-weight: 300;
  background: var(--body-bg);
  height: 100vh;
  .marker-heading{
    font-family: var(--heading-font);
  }
}


// headings ------------
h1,h2,h3,h5,h6 {
  margin: 0 0 .5em;
  color: var(--heading-color);
}

// links ---------------
a {
  color: var(--link-color);
}


// app splash screen -------
.app-splash {
  position: fixed;
  background: #fff;
  color: #777;
  display: flex;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  .app-logo {
    width: 180px;
    display: block;
    margin-bottom: 1em;
  }
}


// helper classes ---------
.calign {
  text-align: center;
}

.lalign {
  text-align: left;
}

.ralign {
  text-align: right;
}

.large-text {
  font-size: 1.6em;
}

.brand-color {
  color: var(--brand-color);
}

.alt-create-btn{
  display: none;
}

// all dialogs
sl-dialog::part(base){
  text-align: center;
}

.close-account{
  sl-button.red-btn::part(base){
    background-color: var(--brand-color-red);
  }
}

sl-dialog{
  sl-button{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    width: 150px;
  }
}

// all buttons except in app header
sl-button::part(base){
  background-color: var(--brand-color-yellow);
  border-color: var(--brand-color-grey);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-weight: bold;
  color: #000;
}

// background images
.left-background{
  position: fixed;
  top:-50px;
  left:-15px;
}

.right-background{
  position: fixed;
  bottom:-20px;
  right:-35px;
}
// generic-entry ------------
.generic-entry {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.07);
  border-radius: 5px;
  margin-bottom: .5em;
  padding: 1em;
  background: #fff;
}

// root ---------------
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  overflow: hidden;
}

// page --------------------
.page-content {
  position: absolute;
  top: var(--app-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 1em;
  &.no-pad {
    padding: 0;
  }
}

.page-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-name{
  font-family: var(--brand-font);
  font-size: 4.5em;
  color: var(--brand-color-red);
}

.recipes-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3em;
  .recipe-card{
    margin: 0;
    padding: 10px;
  }
}



// sign in + sign up pages ----------
.signup-box {  
  background-color: #fff;
}

.signinup-box{  
  max-width: 620px;
  text-align: center;
  sl-input{
    margin-bottom: 20px;
  }
  sl-button::part(base){
    background-color: var(--brand-color-yellow);
    border-color: var(--brand-color-grey);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-weight: bold;
    color: #000;
    width: 320px;
    margin-bottom: 20px;
  }
  sl-checkbox{
    margin-bottom: 20px;
  }
}

.signinup-logo {
  width: 200px;
  margin-bottom: 1em;
}

.signinfields{
  max-width: 320px;
  margin: auto;
  position: relative;
}

#brand-sign-in{
  margin-bottom: 1em;
}

.copyright{
  display: block;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.form-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  // margin-bottom: 20px;
  sl-input, sl-select{
    margin-bottom: 20px;
  }
}

.signup-left{
  grid-column: 1/2;
  sl-input, sl-select{
    margin-right: 10px;
  }
}

.signup-right{
  grid-column: 2/3;
  sl-input{
    margin-left: 10px;
  }
}

// guide page ---------------
.guide-step {
  padding: 1em;
  margin: 1.5em auto;
  max-width: 850px;
  img {
    width: 100%;
    height: auto;
  }
  .brand-name{
    font-size: 4em;
    margin-bottom: 0;
  }
  .page-sub-content{
    width: 90%;
    margin: auto;
  }
  .guide-sub-heading{
    display: inline;
  }
  sl-button::part(base){
    background-color: var(--brand-color-yellow);
    border-color: var(--brand-color-grey);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-weight: bold;
    color: #000;
  }
  .fas{
    color: var(--brand-color-red);
    font-size: 2em;
  }
  .marker-heading{
    margin-left: 20px;
    font-size: 1.1em;
  }
}

// recipe page
.recipe-sheet{
  width: 70%;
  background-color: #fff;
  border-color: var(--brand-color-red);
  border-style: solid;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "images brief"
  "ingredients directions";
  sl-button::part(base){
    background-color: var(--brand-color-yellow);
    border-color: var(--brand-color-grey);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-weight: bold;
    color: #000;
  }
}

.ingredient-heading-button{
  display: inline-block;
}

.recipe-image{
  grid-area: images;
  img{
    display: block;
    width: 90%;
    margin: 2em;
  }
}

.recipe-brief{
  grid-area: brief;
  margin: 2em;
  .marker-heading{
    font-size: 2em;
    margin-top: 0;
  }
}

.recipe-ingredients{
  grid-area: ingredients;
  margin: 2em;
  ul{
    list-style: none;
    margin-left: -2.5em;
  }
  .marker-heading{
    margin-right: 20px;
  }
}

.recipe-directions{
  grid-area: directions;
  margin: 2em;
}

// list page
.list-sheet{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 4em;
  sl-button::part(base){
    background-color: var(--brand-color-red);
    border-color: var(--brand-color-grey);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-weight: bold;
    color: #000;
  }
}
.item{
  display: inline-block;
  margin-right: 20px;
}

// create recipe page
.create-sheet{
  width: 70%;
  background-color: #fff;
  border-color: var(--brand-color-red);
  border-style: solid;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 4em;
  .create-heading{
    margin-top: 1em;
    margin-left: 2em;
  }
}

.create-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "left-area-top right-area-top"
  "left-area-bottom right-area-bottom";
}

.create-left-top{
  margin-left: 4em;
  margin-bottom: 1em;
  grid-area: left-area-top;
}

.create-left-bottom{
  margin-left: 4em;
  margin-bottom: 1em;
  grid-area: left-area-bottom;
  sl-button.red-btn::part(base){
    background-color: var(--brand-color-red);
    border-color: var(--brand-color-grey);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-weight: bold;
    font-size: 1.4em;
    color: #000;
  }
  sl-button.green-btn::part(base){
    background-color: var(--brand-color-green);
    border-color: var(--brand-color-grey);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-weight: bold;
    font-size: 1.4em;
    color: #000;
  }
}

.create-right-top{
  margin-left: 1em;
  margin-right: 4em;
  margin-bottom: 1em;
  grid-area: right-area-top;
  img{
    width: 150px;
  }
}

.add-remove-btns{
  margin-left: 11px;
  margin-right: 20px;
}

.add-remove-text{
  display: inline;
  margin-left: 35px;
}

.create-right-bottom{
  margin-left: 1em;
  margin-right: 4em;
  margin-bottom: 1em;
  grid-area: right-area-bottom;
  sl-textarea{
    margin-bottom: 30px;
  }
}

.ingredient-field{
  display: inline-block;
  width: 50px;
  text-align: center;
  margin-right: 17px;
  margin-bottom: 8px;

}
.ingredient-name-field{
  width: 200px;
}

sl-textarea::part(base){
  border-radius: 25px;
}

.create-brief-details{
  display: block;
  margin: 0;
  p{
    width: 150px;
  }
  sl-input{
    width: 230px;
  }
  p, sl-input{
    display: inline-block;
  }
}

.image-selector{
  display: block;

  sl-button{
    position: absolute;
    top:8px;
    right: 65px;
  }
  sl-button::part(base){
    background-color: var(--brand-color-yellow);
    border-color: var(--brand-color-grey);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-weight: bold;
    color: #000;
  }
}

// account page
.account-grid{
  display: grid;
  grid-template-areas: "avatar name name name"
  "info info info buttons";
  margin-top: 5%;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.account-item-avatar{
  grid-area: avatar;
  text-align: left;

}
.account-item-name{
  grid-area: name;
  text-align: left;
  padding-top: 70px;
  padding-left: 20px;
}
.account-item-info{
  grid-area: info;
  text-align: left;
  .marker-heading, .info-details{
    display: inline-block;
    // margin-left: 20px;
  }
  .info-details{
    margin-left: 100px;
  }
  .marker-heading{
    width: 100px;
  }

}
.account-item-buttons{
  grid-area: buttons;
  margin-left: auto;
  sl-button::part(base){
    background-color: var(--brand-color-yellow);
    border-color: var(--brand-color-grey);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-weight: bold;
    color: #000;
  }
  sl-button.red-btn::part(base){
    background-color: var(--brand-color-red);
    border-color: var(--brand-color-grey);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-weight: bold;
    color: #000;
  }
}

.account-btn{
  display: block;
  grid-area: buttons;
  width: 207px;
  margin-bottom: 30px;
}

.account-edit{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 4em;
    .submit-btn, .cancel-btn{
      width: 200px;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 20px;
    }

}

.input-group{
  sl-input, p, sl-select{
    display: inline-block;
  }
  p{
    width: 200px;
  }
  sl-input{
    width: 400px;
  }
  sl-select{
    width: 400px;
  }
}

// RESPONSIVE - MOBILE -------------------
@media all and (max-width: 768px){ 

  .signinup-box {
    width: 100%;
    max-width: none;
    padding-left: 10px;
    padding-right: 10px;
    h1{
      font-size: 1.8em;
      margin-bottom: 0.3em;
    }
  }

  .brand-name{
    font-size: 1.9em;
  }

  .alt-create-btn{
    display: block;
    sl-button{
      width:100%;
    }

  }

 
  .form-container{
    display: block;
  }
  
  .signup-left{
    grid-row: 1/2;
    sl-input, sl-select{
      margin-right: 0px;
    }
  }
  
  .signup-right{
    grid-row: 2/3;
    sl-input{
      margin-left: 0px;
    }
  }


  // recipe page
.recipe-sheet{
  width: 100%;
  background-color: #fff;
  border-style: solid;
  border-width: 2px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  "brief"
  "images"
  "ingredients"
  "directions";
}

.ingredient-heading-button{
  display: inline-block;
}

.recipe-image{
  img{
    width: 100%;
    margin: 0em;
  }
}

.recipe-brief{
  margin: 1em;
  sl-button{
    width: 100%;
  }
}

.recipe-ingredients{
  margin: 1em;
  ul{
    list-style: none;
    margin-left: -2.5em;
  }
  .marker-heading{
    margin-right: 20px;
  }
}

.recipe-directions{
  margin: 1em;
}

// list page
.list-sheet{
  width: 100%;
  background-color: #fff;
  padding-left: 10px;
  margin-top: 1em;
  margin-bottom: 1em;

}
.item{
  display: inline-block;
  margin-right: 10px;
  p{
    display: inline;
    overflow-wrap:break-word;
  }
}


// create recipe page
.create-sheet{
  width: 100%;
  background-color: #fff;
  border-width: 2px;
  margin-top: 1em;
  margin-bottom: 1em;
  .create-heading{
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-size: 1.5em;
    text-align: center;
  }
}

.create-grid{
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "left-area-top"
  "left-area-bottom"
  "right-area-bottom"
  "right-area-top";
}

.create-left-top{
  margin-left: 1em;
}

.create-left-bottom{
  margin-left: 1em;
  margin-bottom: 0em;
}

.create-right-top{
  margin-left: 1em;
  margin-right: 1em;
  img{
    width: 100%;
  }
}

.add-remove-btns{
  margin-left: 10px;
  margin-right: 25px;

}

.add-remove-text{
  display: inline;
  margin-left: 15px;
}

.create-right-bottom{
  margin-left: 1em;
  margin-right: 1em;
  sl-textarea{
    margin-bottom: 30px;
  }
}

.ingredient-field{
  display: inline-block;
  width: 50px;
  text-align: center;
  margin-right: 17px;
  margin-bottom: 8px;

}
.ingredient-name-field{
  width: 165px;
}

sl-textarea::part(base){
  border-radius: 25px;
}

.create-brief-details{
  display: block;
  margin: 0;
  p{
    width: 150px;
  }
  sl-input{
    width: 95%;
  }
}

.image-selector{
  display: block;

  sl-button{
    position: relative;
    width: 100%;
    right:0;
    margin-bottom: 2em;
  }
}

// account page
.account-grid{
  grid-template-areas: "avatar" 
  "name"
  "info"
  "buttons";
  margin-top: 0;
  width: 100%;
}

.account-item-avatar{
  text-align: center;
}
.account-item-name{
  grid-area: name;
  text-align: center;
  padding-top: 0px;
  padding-left: 0px;
}
.account-item-info{
  text-align: left;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-color: var(--brand-color-red);
  .marker-heading, .info-details{
    display: block;
  }
  .info-details{
    margin-left: 0px;
  }

}
.account-item-buttons{
  margin-left: 0;
  margin-top: 1em;
}

.account-btn{
  width: 100%;
  margin-bottom: 30px;
}

.account-edit{
  background-color: #fff;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-color: var(--brand-color-red);
  margin-top: 1em;
  margin-bottom: 1em;
    .submit-btn, .cancel-btn{
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
}

.input-group{
  sl-input, p, sl-select{
    display: inline-block;
  }
  p{
    width: 200px;
  }
  sl-input{
    width: 100%;
  }
  sl-select{
    width: 100%;
  }
}

// all dialogs
sl-dialog::part(base){
  text-align: center;
}

sl-dialog{
  sl-button{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    width: 100%;
  }
}

// guide page ---------------
.guide-step {
  background-color: #fff;
  padding: 0em;
  margin: 0em;
  margin-top: -4em;
  max-width: 850px;
  .brand-name{
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 1em;
  }
  h1{
    font-size: 1.5em;
    text-align: center;

  }
  .fas{
    font-size: 1em;
  }
}

}